/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* #hero img {
  height: auto;
  width: auto;
  opacity: 0.6;
} */

/*--------------------------------------------------------------
# Vismis Section
--------------------------------------------------------------*/
#vismis {
    background: #b5e0f4;
}

#vismis img {
    margin-bottom: 25px;
    width: auto;
    height: 200px;
}

#vismis .jabduu-paragraph {
  color:#013a52;
}

#vismis .jabduu-heading {
  color:#1D1D35;
}

.vision img {
  filter: grayscale(0.35);

}

/*--------------------------------------------------------------
# Parcliens Section and Awards section
--------------------------------------------------------------*/
#parcliens p {
    letter-spacing: 5px;
}

.awards img, 
.parcliens img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.awards img:hover, 
.parcliens img:hover {
  filter: none;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .awards img, 
  .parcliens img {
    max-width: 40%;
  }
}

#awards {
    padding-bottom: 0;
}

/*--------------------------------------------------------------
# Testimonials Section
--------------------------------------------------------------*/
.testimonials {
  background: #b5e0f4;
}

.testimony {
  padding: 70px 0;
}

#testimonials h2.jabduu-subheading {
color: #1D1D35;
}

#testimonials h3,
#testimonials h2.jabduu-link {
color: #013a52;
}

.testimony img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 5%;
}

.testimony h3{
    padding: 0 35px;
}

/*--------------------------------------------------------------
# Values Section
--------------------------------------------------------------*/

.values h3 {
  padding: 0 35px;
  color: #b5e0f4;
}

#values h2.value-title {
    margin-bottom: 15px;
    color: #a9eaba;
}

.values i {
    font-size: 80px;
    margin-bottom: 5%;
    color: #a9eaba;
    border-color: #b5e0f4;
}

.values .jabduu-heading {
  color: #b5e0f4;
}

.values {
  padding-bottom: 70px;
  background: #1D1D35;
}

/*--------------------------------------------------------------
# parcliens Section
--------------------------------------------------------------*/
#parcliens {
    background: #b5e0f4;
}

#parcliens h1 {
  color: #1D1D35;
}

#parcliens p {
  color: #013a52;
}

/*--------------------------------------------------------------
# insights Section
--------------------------------------------------------------*/
#insights {
  background: #1D1D35;
}

#insights h1 {
  color: #b5e0f4;
}

#insights p {
  color: #a9eaba;
}

#insights h4 {
  color: #a9eaba;
  letter-spacing: 3px;
  font-size: 25px;
}

/*--------------------------------------------------------------
# Awards Section
--------------------------------------------------------------*/
#awards {
  padding: 0 0 10px 0;
  background: #c3e6f6;
  color: #1D1D35;
}

#awards h1 {
  -webkit-box-reflect: below -92px linear-gradient(transparent, rgba(255,255,255,0.3));
  padding-bottom: 30px;
}

/*--------------------------------------------------------------
# Test carousel Section
--------------------------------------------------------------*/
#testcar {
  padding: 0 0 10px 0;
  background-color: #fff;
  color: #1D1D35;
}