/*--------------------------------------------------------------
# Get-In-Touch Section
--------------------------------------------------------------*/
#get-in-touch {
    padding-top: 100px;
    background: linear-gradient(to bottom, rgba(29, 29, 53, 1) 1%, rgba(29, 29, 53, 0) 30%);
    color:#013a52;

}

@media (max-width: 991px) {
    #get-in-touch {
        background: linear-gradient(to bottom, rgba(150, 185, 206, 1) 1%, rgba(150, 185, 206, 0) 30%);
    }
}

#get-in-touch .animated {
    animation: none;
}

#get-in-touch .jabduu-heading {
    letter-spacing: 5px;
    color: #1d1d35;
}

#get-in-touch .jabduu-paragraph {
    letter-spacing: 1px;
    line-height: 30px;
}

#get-in-touch i {
    border: 3px solid #b5e0f4;
}

#get-in-touch .form-label {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

#get-in-touch .btn-jabduu-primary {
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background: #1D1D35;
}

#get-in-touch .btn-jabduu-primary:hover {
    background: #691212;
}