/*--------------------------------------------------------------
# Shop-hero Section
--------------------------------------------------------------*/
#shop-hero {
    padding-top: 100px;
    background: linear-gradient(rgba(29, 29, 53, 1), rgba(29, 29, 53, 0.5), #fff);
}

@media (max-width: 991px) {
    #shop-hero {
        background: linear-gradient(to bottom, rgba(150, 185, 206, 1) 1%, rgba(150, 185, 206, 0) 30%);
    }
}

#shop-hero .jabduu-heading {
    font-size: 50px;
    color: #1D1D35;
    margin-bottom: 0;
    margin-top: 50px;
}

#shop-hero .jabduu-menu {
    font-size: 21px;    
    color: #1D1D35;
}

.shop-hero hr {
    margin-top: 0;
    border-top: 2px solid #A9EABA;
}

.shop-hero .search-box {
    padding-right: 45px;
    position: relative;
    margin-top: 50px;
}

.shop-hero form input[type=text] {
    border: 0;
    border-radius: 20px;
    padding: 6px 0 6px 25px;
    background: linear-gradient(45deg, rgba(59, 138, 105, 0.4), rgba(169, 234, 186, 0.2), rgb(169, 234, 186, 0.2));
    text-align: center;
}

.shop-hero i {
    color: #1D1D35;
    margin-top: 56px;
}

.shop-hero form i {
    position: absolute;
    margin-top: 0;
    top: 6px;
    right: 40px;
    bottom: 0;
    border: 0;
    text-align: right;
    pointer-events: none;
}

/*--------------------------------------------------------------
# Item-Category Section
--------------------------------------------------------------*/
#item-cat {
    padding: 30px 0;
}

.item-cat a {
    width: fit-content;
    margin: 0 40px;
}

.item-cat h6 {
    font-family: "Montserrat", "Poppins", "Open Sans", sans-serif;
    font-weight: 600;
    color: #1D1D35;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.item-cat hr {
    width: 70vw;
    margin-top: 0;
    border-top: 2px solid #3b8a69;
}

/*--------------------------------------------------------------
# Shop section
--------------------------------------------------------------*/

.shop {
    padding-top: 30px;
}

/*--------------------------------------------------------------
# Shop components
--------------------------------------------------------------*/
.shop-item {
    margin-bottom: 60px;
}

.shop-item-img {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.shop .shop-item-img {
    height: 250px;
    width: 240px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
}

.shop-item-name {
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #1D1D35;
    letter-spacing:1px;
    margin-bottom: 2px;
}

.shop-item-label {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    padding: 2px 4px;
    margin-right: 7px;
}

.item-label-group span.construction-label {
    background: #3b8a69;
}

.item-label-group span.agriculture-label {
    background: #1D1D35;
}

.item-label-group span.municipal-label {
    background: #691212;
}

.shop-item-price {
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #1D1D35;
    letter-spacing: 1px;
    margin-top: 5px;
}

.shop-item .btn-jabduu-primary {
    font-family: "Poppins", "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 5px;
    transition: 0.5s;
    color: #fff;
    background: #1D1D35;
}

.shop-item .btn-jabduu-primary:hover {
    background: #691212;
}

.item-filter-group {
    margin-bottom: 10px;
}

.item-filter-group h6 {
    margin: 0;
    font-weight: 600;
}

.shop-filter-label {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    background: #d1cece;
    color: #000;
    padding: 2px 4px;
    margin-right: 7px;
}

.shop-recent-post .post-item {
    margin: 0 0 25px 15px;
}

.shop-recent-post .post-item img{
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.shop-newsletter {
  margin: 50px 0 25px 0;
  padding: 15px 10px 10px 10px;
  background: #1D1D35;
  text-align: center;
  font-size: 15px;
  color: #444444;
}

.shop-newsletter h4 {
  font-size: 16px;
  margin: 0 0 0 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #fff;
}

.shop-newsletter .row {
    margin-top: 5px;
    padding: 6px 25px;
    position: relative;
}

.shop-newsletter form input[type=email] {
    border: 0;
    border-radius: 7px;
    padding: 6px 0 6px 25px;
    background: #fff;
    text-align: center;
    font-style: italic;
}

.shop-newsletter form i {
    position: absolute;
    top: 12px;
    left: 20px;
    bottom: 0;
    border: 0;
    text-align: left;
    color: #1D1D35;
    pointer-events: none;
}

.shop-newsletter form input[type=submit] {
    font-family: "Montserrat", "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 10px;
    padding: 5px 15px;
    border-radius: 7px;
    transition: 0.5s;
    color: #fff;
    background: #691212;
}

.shop-newsletter form input[type=submit]:hover {
    background: #691212;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.4);
}

/*--------------------------------------------------------------
# Top-items Section and Awards section
--------------------------------------------------------------*/

#top-items {
    padding: 0;
}

/*--------------------------------------------------------------
# Parcliens Section and Awards section
--------------------------------------------------------------*/
.footer-brands img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;0.
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
}

.footer-brands img:hover {
    filter: none;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .footer-brands img {
        max-width: 40%;
    }
}

#footer-brands {
    padding: 0;
}

.footer-brands hr {
    height: 1px;
    border: 1px solid #fff;
    opacity: 1;
}